@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  font-family: sans-serif;
  text-align: center;
}

.editor {
  margin: auto;
  background-color: #fff;
  border-color: #576164;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  padding: 0px 0.5rem;
  text-align: left;
  font-family: BundesSans Web, Calibri, Verdana, Arial, Helvetica, sans-serif;
}

.editor:focus-within {
  outline-color: #0077b6;
  outline-offset: 2px;
  outline-style: solid;
  outline-width: 3px;
  transition: outline-offset 0.2s linear 0s;
}

.w-65 {
  width: 65ch;
}

.icon {
  border: 1px solid rgb(229 231 235 / var(--tw-text-opacity));
  margin-right: 1px;
}
